body{
    margin: 0;
}

div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    border-radius: 3px;
    background-color: aliceblue;
}

iframe{
    margin: 10px;
    padding-bottom: 5px;
    border-radius: 3px;
}

#pagination{
    text-align: center;
}


#pagination a{
    text-decoration: none;
    background-color: rgb(10, 92, 119);
    padding: 15px 20px;
    border-radius: 4px;
    color: white;
    font-weight: 600;
}

#pagination a i{
    font-size: 16px;
    font-weight: 600;
}

section{
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 100px;
    justify-content: center;
    align-self: center;
}

.section-p1{
    padding-top: 20px;
}

body{
    background-color: rgb(212, 224, 234);
}

header{ 
    display: flex;
    border-radius: 3px;
    width: 100%;
    padding: 5px 40px;
    background-color: aliceblue;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    z-index: 999;
    position: fixed;
    top: 0;
}

p{
    font-weight: bold;
    font-size: 30px;
    font-style: oblique;
    font-family: 'Spartan', sans-serif;
}

.head{
    margin-bottom: 10px;
}